
<section class="section-collection" id="our-collection">
<div class="fon">
    <div class="container container-collection">
        <h2 class="name-section-collection">Our collection</h2>
        <ul class="list-collections list">
            <li class="colection-elem">
                <div class="item-block">
                    <picture>
                        <source srcset="./img/vyshyvanka-1d2.jpg 1x, ./img/vyshyvanka-1d2@2x.jpg 2x" width="400" height="430"
                            media="(min-width: 1440px)">
                        <source srcset="./img/vyshyvanka-1d1.jpg 1x, ./img/vyshyvanka-1d1@2x.jpg 2x" width="347" height="430" 
                            media="(min-width: 1280px)">
                        <source srcset="./img/vyshyvanka-1t.jpg 1x, ./img/vyshyvanka-1t@2x.jpg 2x" width="342" height="430" 
                            media="(min-width: 768px)">
                        <source srcset="./img/vyshyvanka-1m.jpg 1x, ./img/vyshyvanka-1m@2x.jpg 2x" width="335" height="400" 
                            media="(min-width: 320px)">
                        <img src="images/index/portfolio/MeditationApp.jpg" alt="image" class="vyshivanka-item">
                    </picture> 
                    <h3 class="item-name">AUGUST Poltava women's blouse<span class="poiters">...</span><span class="letters">RING</span></h3>
                    <p class="price-item">3300 UAH</p>
                </div>
            </li>
            <li class="colection-elem">
                <div class="item-block">
                    <picture>
                        <source srcset="./img/vyshyvanka-2d2.jpg 1x, ./img/vyshyvanka-2d2@2x.jpg 2x" width="400" height="430"
                            media="(min-width: 1440px)">
                        <source srcset="./img/vyshyvanka-2d1.jpg 1x, ./img/vyshyvanka-2d1@2x.jpg 2x" width="347" height="430"
                            media="(min-width: 1280px)">
                        <source srcset="./img/vyshyvanka-2t.jpg 1x, ./img/vyshyvanka-2t@2x.jpg 2x" width="342" height="430"
                            media="(min-width: 768px)">
                        <source srcset="./img/vyshyvanka-2m.jpg 1x, ./img/vyshyvanka-2m@2x.jpg 2x" width="335" height="400"
                            media="(min-width: 320px)">
                        
                        <img src="images/index/portfolio/MeditationApp.jpg" alt="image" class="vyshivanka-item">
                    </picture> 
                    <h3 class="item-name">Women's blouse Gorgany</h3>
                    <p class="price-item">3350 UAH</p>
                </div>
            </li>
            <li class="colection-elem">
                <div class="item-block">
                    <picture>
                        <source srcset="./img/vyshyvanka-3d2.jpg 1x, ./img/vyshyvanka-3d2@2x.jpg 2x" width="400" height="430"
                            media="(min-width: 1440px)">
                        <source srcset="./img/vyshyvanka-3d1.jpg 1x, ./img/vyshyvanka-3d1@2x.jpg 2x" width="347" height="430"
                            media="(min-width: 1280px)">
                        <source srcset="./img/vyshyvanka-3t.jpg 1x, ./img/vyshyvanka-3t@2x.jpg 2x" width="342" height="430"
                            media="(min-width: 768px)">
                        <source srcset="./img/vyshyvanka-3m.jpg 1x, ./img/vyshyvanka-3m@2x.jpg 2x" width="335" height="400"
                            media="(min-width: 320px)">
                    
                        <img src="./img/vyshyvanka-3m.jpg" alt="image" class="vyshivanka-item">
                    </picture>
                    
                    <h3 class="item-name">Women's blouse Crimea</h3>
                    <p class="price-item">4000 UAH</p>
                </div>
            </li>
            <li class="colection-elem">
                <div class="item-block">
                    <picture>
                        <source srcset="./img/vyshyvanka-4d2.jpg 1x, ./img/vyshyvanka-4d2@2x.jpg 2x" width="400" height="430"
                            media="(min-width: 1440px)">
                        <source srcset="./img/vyshyvanka-4d1.jpg 1x, ./img/vyshyvanka-4d1@2x.jpg 2x" width="347" height="430"
                            media="(min-width: 1280px)">
                        <source srcset="./img/vyshyvanka-4t.jpg 1x, ./img/vyshyvanka-4t@2x.jpg 2x" width="342" height="430"
                            media="(min-width: 768px)">
                        <source srcset="./img/vyshyvanka-4m.jpg 1x, ./img/vyshyvanka-4m@2x.jpg 2x" width="335" height="400"
                            media="(min-width: 320px)">
                    
                        <img src="./img/vyshyvanka-4m.jpg" alt="image" class="vyshivanka-item">
                    </picture>
                    <h3 class="item-name">Men's shirt Verkhovina</h3>
                    <p class="price-item">3100 UAH</p>
                </div>
            </li>
            <li class="colection-elem">
                <div class="item-block">
                    <picture>
                        <source srcset="./img/vyshyvanka-5d2.jpg 1x, ./img/vyshyvanka-5d2@2x.jpg 2x" width="400" height="430"
                            media="(min-width: 1440px)">
                        <source srcset="./img/vyshyvanka-5d1.jpg 1x, ./img/vyshyvanka-5d1@2x.jpg 2x" width="347" height="430"
                            media="(min-width: 1280px)">
                        <source srcset="./img/vyshyvanka-5t.jpg 1x, ./img/vyshyvanka-5t@2x.jpg 2x" width="342" height="430"
                            media="(min-width: 768px)">
                        <source srcset="./img/vyshyvanka-5m.jpg 1x, ./img/vyshyvanka-5m@2x.jpg 2x" width="335" height="400"
                            media="(min-width: 320px)">
                    
                        <img src="./img/vyshyvanka-5m.jpg" alt="image" class="vyshivanka-item">
                    </picture>
                    
                    <h3 class="item-name">Mountain men's shirt</h3>
                    <p class="price-item">3300 UAH</p>
                </div>
            </li>
            <li class="colection-elem">
                <div class="item-block">
                    <picture>
                        <source srcset="./img/vyshyvanka-6d2.jpg 1x, ./img/vyshyvanka-6d2@2x.jpg 2x" width="400" height="430"
                            media="(min-width: 1440px)">
                        <source srcset="./img/vyshyvanka-6d1.jpg 1x, ./img/vyshyvanka-6d1@2x.jpg 2x" width="347" height="430"
                            media="(min-width: 1280px)">
                        <source srcset="./img/vyshyvanka-6t.jpg 1x, ./img/vyshyvanka-6t@2x.jpg 2x" width="342" height="430"
                            media="(min-width: 768px)">
                        <source srcset="./img/vyshyvanka-6m.jpg 1x, ./img/vyshyvanka-6m@2x.jpg 2x" width="335" height="400"
                            media="(min-width: 320px)">
                    
                        <img src="./img/vyshyvanka-6m.jpg" alt="image" class="vyshivanka-item">
                    </picture>
                    
                    <h3 class="item-name">Men's shirt Yasen</h3>
                    <p class="price-item">1700 UAH</p>
                </div>
            </li>
        </ul>
    </div>
</div>
</section>


