<section class="hero">
    <div class="container hero-container">
        <div class="hero-all">
            <div class="hero-wrap">
                <h1 class="hero-title">Reviving the traditional<span class="hero-title-span"> Ukrainian </span> artistry
                    in every stitch.
                </h1>
                <div class="hero-button-icon">
                    <a href="#your-order" class="hero-button">ORDER
                        <svg class="button-icon" width="24" height="17">
                            <use xlink:href="./img/icons.svg#icon-hero-yourorder-arrow"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <picture class="hero-picture">
                <source srcset="./img/hero-girl-desktop.jpg 1x, ./img/hero-girl-desktop@2x.jpg 2x"
                    media="(min-width: 1280px)" />
                <source srcset="./img/hero-girl-tablet.jpg 1x, ./img/hero-girl-tablet@2x.jpg 2x"
                    media="(min-width: 768px)" />
                <source srcset="./img/hero-girl-mobile.jpg 1x, ./img/hero-girl-mobile@2x.jpg 2x"
                    media="(max-width: 767px)" />
                <img class="hero-girl" src="./img/hero-girl-desktop.jpg" alt="Reviving the traditionals" width="392"
                    height="545" />
            </picture>
        </div>
        <div class="hero-nomobile">
            <div class="hero-star">
                <svg width="52" height="51">
                    <use href="./img/icons.svg#icon-hero-star"></use>
                </svg>
                <p class="hero-star-text">all embroidery is<br> made by hand</p>
            </div>
            <div class="hero-ukraine">
                <picture>
                    <source srcset="./img/hero-ukraine-desktop.png 1x, ./img/hero-ukraine-desktop@2x.png 2x"
                        media="(min-width: 1280px)" />
                    <source srcset="./img/hero-ukraine-tablet.png 1x, ./img/hero-ukraine-tablet@2x.png 2x"
                        media="(min-width: 768px)" />
                    <img class="ukraine" src="./img/hero-ukraine-desktop.png" alt="Ukraine" width="139" height="191" />
                </picture>
            </div>
        </div>
    </div>
</section>