.section-about-us {    
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 375px;       
}

.about-ornament {
    padding-bottom: 62px;
    max-width: 375px;    
    background-image: url(../img/ornament-about-mobile.png);
        background-repeat: no-repeat;
        background-size: 250px 408px;
        background-position: right 0 bottom 0;
        margin-right: auto;
        margin-left: auto;
}

@media (min-resolution: 192dpi) {
    .about-ornament {
        background-image: url(../img/ornament-about-mobile@2x.png);
    }
}

.about-container {
        width: 375px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        gap: 50px;
    
}


.about-first-title {
        color: #FCF9F9;        
        font-size: 32px;        
        font-weight: 500;
        line-height: 1.37;        
        letter-spacing: -0.03em;    
        margin-bottom: 40px;
}

.about-first-text {          
    width: 335px;
    color: rgba(252, 249, 249, 0.40);
        font-size: 14px;
        line-height: normal;
        letter-spacing: -0.03em;
        margin-bottom: 20px;
}

.about-second-text {
    width: 335px;
        color: rgba(252, 249, 249, 0.40);
        font-size: 14px;
        line-height: normal;
        letter-spacing: -0.03em;
}

.about-picture {
    border-radius: 4px;
    overflow: hidden;
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;        
    }

    .about-ornament {
        max-width: 768px;
        background-image: url(../img/ornament-about-tablet.png);
        background-repeat: no-repeat;
            background-size: 369px 484px;
            background-position: right 0 bottom 0;
            margin-right: auto;
            margin-left: auto;
        }

        .section-about-us {            
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 768px;
        }

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .about-ornament {
                background-image: url(../img/ornament-about-tablet@2x.png);
            }
        }

    .about-container {
            width: 768px;
            margin-right: 0;
                margin-left: 0;
    }   

    .about-first-title {
            font-size: 44px;            
            line-height: 1.45;            
            letter-spacing: -0.03em;
    }

    .about-first-text {
        width: 704px;
            font-size: 16px;
            font-style: normal;
            letter-spacing: -0.04px;
    }

    .about-second-text {
        width: 704px;
            font-size: 16px;
            font-style: normal;
            letter-spacing: -0.04px;            
    }

        .about-picture {
            width: 704px;
            height: 545px;
        }
}

@media screen and (min-width: 1280px) {
    .section-about-us{
        width: 1280px;
    }
    .about-container {
        max-width: 1280px;
        display: flex;  
        gap: 50px;
        flex-direction: row;    
    }

    
    .about-ornament {
        max-width: 1280px;
        padding-bottom: 80px;
        background-image: url(../img/ornament-about-desktop.png);
        background-repeat: no-repeat;
        background-size: 385px 484px;
        background-position: right 0 bottom 0;
        margin-right: auto;
        margin-left: auto;
        }
        

        .about-desk {
            margin-top: 45.5px;
            gap: 50px;
            justify-content: center;
            align-items: center;
        }

        
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .about-ornament {                
                    background-image: url(../img/ornament-about-desktop@2x.png);
            }
        }

        .about-container {
            width: 1280px;
            }
        
        .about-first-text {
            width: 436px;
            
        }
        
        .about-second-text {
            width: 436px;
            margin-bottom: 0;            
        }

        .about-picture {
            width: 594px;
            height: 545px;
            margin-top: 0;
            border-radius: 4px;
            overflow: hidden;
        }
}

/* @media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
        padding: 0 16px;
    }
} */