.header {
  width: 375px;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.header-container {
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: space-between;
  padding: 4px 0px;
}

.header-soc-mobmenu {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
}

.header-menu {
  display: none;
}

.header-menu-list {
  margin-bottom: 20px;
}

.header-menu-link {
  color: #1c2225;
  font-size: 14px;
  line-height: 1.29; /* 128.571% */
  text-transform: uppercase;
}

.header-address {
  display: none;
}

.header-address-link {
  color: #fcf9f9;
  line-height: 1.43; /* 142.857% */
  font-size: 14px;
  font-style: normal;
  padding: 14px 28px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
}

.header-mob-soc {
  display: flex;
  gap: 12px;
  margin-right: 12px;
}

.mob-soc-div {
  width: 44px;
  height: 44px;
  display: flex;
  padding: 8px;
  align-items: flex-start;
  justify-content: center;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background: rgba(252, 249, 249, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-button-style {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.mobile-header-div {
  display: flex;
  justify-content: space-between;
  padding-bottom: 186px;
  align-items: center;
}

.header-mobile-menu {
  text-align: right;
}

.mobile-menu-close {
  stroke: black;
  display: initial;
}

.tablet-menu-close {
  stroke: black;
  display: none;
}

.header-mobiletabletlateral-menu {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  width: 274px;
  height: 100vh;
  background-color: #ecd979;
  padding: 20px 20px;
  overflow: auto;
  background-image: url(../img/mobile-background-1x.png);
  background-repeat: no-repeat;
  background-size: 274px;
  background-position: center bottom;
  opacity: 0;
  visibility: hidden;

}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .header-mobiletabletlateral-menu {
    background-image: url(../img/mobile-background-2x.png);
  }
}

.mobile-address-link {
  color: #1c2225;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17; /* 116.667% */
  border-radius: 15px;
  border: 1px solid rgba(28, 34, 37, 0.1);
  padding: 12px 20px;
} 


@media screen and (min-width: 768px) {
  .header {
    width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }
  .header-mobiletabletlateral-menu {
    width: 380px;
    background-size: 380px;
    background-position: center bottom;
  }

  @media (min-device-pixel-ratio: 1),
    (min-resolution: 96dpi),
    (min-resolution: 1dppx) {
    .header-mobiletabletlateral-menu {
      background-image: url(../img/table-background-1x.png);
    }
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .header-mobiletabletlateral-menu {
      background-image: url(../img/table-background-2x.png);
    }
  }


  .mobile-address-link {
    font-size: 14px;
    line-height: 1.43; /* 142.857% */
    padding: 14px 28px;
  }

  .mobile-header-div {
    margin-bottom: 223px;
    align-items: center;
  }

  .mobile-menu-close {
    display: none;
  }

  .tablet-menu-close {
    display: initial;
  }

  .header-menu-list {
    margin-bottom: 25px;
  }

  .header-mob-soc {
    margin-right: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .header-mobiletabletlateral-menu {
    display: none;
  }
  .header {
    width: 1280px;
    padding-right: 100px;
    padding-left: 100px;
  }

  .header-container {
    font-size: 14px;
    align-items: center;
    justify-content: center;
    width: 1080px;
  }

  .header-logo {
    margin-right: 60px;
  }

  .header-menu {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  .header-menu-link {
    color: #fcf9f9;
    font-weight: 400;
    line-height: 1.29; /* 128.571% */
    text-transform: uppercase;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-nav-link:hover {
    color: #ecd979;
  }

  .header-nav-link:focus {
    color: #ecd979;
  }

  .header-address-link {
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-address-link:hover {
    border: 1px solid #ECD979;
  }

  .header-address-link:focus {
    border: 1px solid #ECD979;
  }

  .mob-soc-div:hover {
    border: 1px solid #ECD979;
    background-color: transparent;
  }

  .mob-soc-div:focus {
    border: 1px solid #ECD979;
    background-color: transparent;
  }

  .header-address-link {
    font-size: 13px;
  }

  .header-menu-list {
    margin-bottom: 0px;
  }
  .header-address {
    display: flex;
    margin-left: auto;
    margin-right: 20px;
  }

  .header-mobile-menu {
    display: none;
  }

  .header-mob-soc {
    margin-right: 0px;
  }

}
